form label {
  @apply text-xs px-1;
}

form td {
  @apply bg-background-600 text-white text-right border-background-400 border border-solid;
}

form input,
select {
  width: 100%;
  box-sizing: border-box;
}

form,
table {
  display: inline-block;
}

@screen desktop {
  form input[type="submit"] {
    width: 50%;
  }
}
