form label {
  @apply text-xs pr-1 pl-1;
}

form td {
  @apply bg-background-700 text-white text-right border-background-400 border border-solid;
}

form input,
select {
  width: 100%;
  box-sizing: border-box;
}

form,
table {
  display: inline-block;
}

form input[type="submit"] {
  width: 50%;
}
